[Unit]
Description=Uvicorn Bot FastAPI
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/bot/bot
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONPATH=/var/www/bot/bot"
ExecStart=/var/www/bot/bot/python/venv/bin/python -m uvicorn python.app.main:app --host 127.0.0.1 --port 8000 --proxy-headers --forwarded-allow-ips="*" --log-level info
Restart=on-failure
RestartSec=3
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
